#menu * {
    padding: 0;
    margin: 0;
}

#menu {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0px;
    width: 210px;
    background-color: #3A3F51;
    color: #ffffff;
    padding: 0;
    z-index: 2;
    overflow: hidden;
    display: none;
}

#menuHeader {
    height: 60px;
    text-align: center;
}

#menuHeader img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

#menuHeader > p {
    line-height: 60px;
    height: 60px;
    background-color: #F05050;
    font-size: 24px;
    font-weight: 700;
}

#menuHeader > div {
    /* text-align: left; */
    margin-top: 3px;
    display: none;
}

#menuHeader > div > span {
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
    /* border-bottom: 1px solid #7A7E8A; */
    padding: 0 3px;
    color: #ffffff;
    cursor: pointer;
}

#menuBody {
    width: 228px;
    height: 900px;
    height: calc(100% - 70px);
    overflow-x: hidden;
    overflow-y: scroll;
}

#menuBody * {
    margin: 0;
    padding: 0;
}

#menuBody > h2 {
    height: 50px;
    background-color: #3A3F51;
    padding: 0 2px 0 12px;
    font-family: Arial;
    font-weight: normal;
    line-height: 50px;
    position: relative;
    padding-right: 2px;
    border-bottom: 2px solid #2E3344;
    transition: all .5s linear;
}

#menuBody > h2:hover {
    background-color: #2E3344;
    border-bottom: 2px solid #F05050;
}

#menuBody > h2.checked {
    border-bottom: 2px solid #F05050;
    background-color: #2E3344;
}

#menuBody > h2 > a {
    color: #B4B6BD;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-size: 13px;
}

#menuBody > h2.checked > a {
    color: #ffffff;
}

#menuBody > h2:hover > a {
    color: #ffffff;
}

#menuBody > h2 > a > i {
    margin-right: 10px;
}

#menuBody > div > h3 {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    position: relative;
    cursor: pointer;
    background-color: #2E3344;
    margin-bottom: 1px;
}

#menuBody > div > h3 > a {
    padding: 10px 10px 10px 34px;
    color: #B4B6BD;
    text-align: justify;
    display: block;
    font-size: 12px;
    line-height: 24px;
}

#menuBody > div > h3:hover > a {
    color: #ffffff;
}

#menuBody > div > h3.checked > a {
    color: #ffffff;
}

#menuBody > div > h3 > a > i {
    position: absolute;
    top: 17px;
    left: 14px;
}

#menuBody > div > h3:hover > a > i {
    color: #F05050;
}

#menuBody > div > h3.checked > a > i {
    color: #F05050;
}

#menuBody > div {
    background-color: #3A3F51;
    display: none;
    padding: 2px 0;
}

#menuBody > div:hover > h3 {
    
}

#menuBody > div > ul {
    background-color: #2E3344;
    list-style: none;
    display: none;
}

#menuBody > div > ul > li {
    border-bottom: 1px solid #2E3344;
    background-color: #3A3F51;
}

#menuBody > div > ul > li > h4 {
    /*height: 30px;*/
    /*padding-left: 30px;*/
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    line-height: 30px;
    /*margin-bottom: 2px;*/
    /*background-color: #464D5D;*/
    position: relative;
}

#menuBody > div > ul > li > h4 > a {
    color: #B4B6BD;
    display: block;
    padding: 6px 0 6px 34px;
    transition: all .3s linear;
}

#menuBody > div > ul > li > h4 > a:hover {
    color: #ffffff;
    cursor: pointer;
    padding: 6px 0 6px 30px;
}

#menuFooter {
    height: 61px;
    /*background-color: #ffffff;*/
    margin-top: 20px;
    display: none;
}

#contentHeader {
    height: 90px;
    width: 100%;
    background-color: #f7f7f7;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 101;
    display: none;
}



#award {
    /* background-color: #f7f7f7; */
    margin: 60px auto;
}

#awardOpenBtn {
    height: 36px;
    width: 120px;
    border-radius: 18px;
    background-color: #F05050;
    text-align: center;
    line-height: 36px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

#award > p:nth-of-type(2) {
    text-align: center;
    font-size: 13px;
    margin-top: 18px;
    color: #999999;
}

#award > p > span {
    display: inline-block;
    width: 20px;
    height: 16px;
    /* border: 1px solid #ffffff; */
    /* background-color: #ffffff; */
    position: relative;
    top: 4px;
    left: 0;
    margin-right: 5px;
    background-image: url(http://6990373.s21i-6.faiusr.com/4/ABUIABAEGAAg9NuQzAUo0Ne5tQMw3gQ4_go.png);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: -89px -1px;
}

div#awardContent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(58, 63, 81, .6);
    display: none;
}

div#awardRichCon {
    width: 300px;
    height: 380px;
    overflow: hidden;
    background-color: #ffffff;
    margin: 100px auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    position: relative;
}

div#awardHeader {
    height: 55px;
    background-color: #F3F3F3;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
}

div#awardHeader > p {
    font-size: 19px;
    line-height: 55px;
    color: #58666E;
    font-family: Arial;
    text-indent: 30px;
}

span#awardClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    /* background-color: #ffffff; */
    margin-right: 4px;
    margin-top: 6px;
    cursor: pointer;
    font-size: 20px;
    color: #a4aeb3;
    /* padding: 0; */
    line-height: 20px;
}

div#awardBody {
    height: 250px;
    width: 265px;
    overflow: hidden;
    margin: 0 auto;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
}

div#awardBody > p {
    text-align: center;
    font-size: 14px;
    font-family: Arial;
    font-weight: 600;
    height: 60px;
    line-height: 60px;
}

div#awardBody > img {
    width: 167px;
    height: 167px;
    display: block;
    margin: 0 auto;
}

div#awardFooter {
    height: 70px;
    text-align: center;
    padding-top: 18px;
}

div#awardFooter > p {
    height: 36px;
    text-align: center;
    display: inline-block;
    padding: 0 14px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 36px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    /* box-sizing: border-box; */
}

p#zfbBtn {
    background-color: #23B7E5;
    border: 2px solid #23B7E5;
}

p#zfbBtn:hover {
    background-color: #19A9D5;
    border: 2px solid #189EC8;
}

p#wxBtn {
    background-color: #27C24C;
    border: 2px solid #27c24c;
}

p#wxBtn:hover {
    background-color: #23AD44;
    border: 2px solid #20A03F;
}

div#awardFooter > p > span {
    width: 23px;
    height: 20px;
    display: inline-block;
    /* background-color: #ff00aa; */
    margin-right: 6px;
    position: relative;
    top: 6px;
}

p#zfbBtn > span {
    background-image: url(http://6990373.s21i-6.faiusr.com/4/ABUIABAEGAAgopKRzAUoxLyEkAcw3gQ4_go.png);
    background-repeat: no-repeat;
    background-size: 103px;
    background-position: -76px -20px;
}

#wxBtn > span {
    background-image: url(http://6990373.s21i-6.faiusr.com/4/ABUIABAEGAAgopKRzAUoxLyEkAcw3gQ4_go.png);
    background-repeat: no-repeat;
    background-size: 103px;
    background-position: -51px -20px;
}

div#noteHeaderBtn {
    height: 30px;
    width: 510px;
    text-align: center;
    position: absolute;
    top: -77px;
    left: 50%;
    margin-left: -255px;
}

div#noteHeaderBtn > div {
    /* border: 1px solid #000000; */
    height: 30px;
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    line-height: 28px;
    border-radius: 20px;
    font-family: Arial;
    font-size: 13px;
    cursor: pointer;
    color: #ffffff;
    position: relative;
    text-indent: 22px;
}

div#noteHeaderBtn > div > span {
    display: inline-block;
    width: 20px;
    height: 18px;
    /* background-color: #ffffff; */
    position: absolute;
    top: 4px;
    left: 8px;
}

div#noteHeaderBtn > #resultPreview > span {
    background-image: url(http://6990373.s21i-6.faiusr.com/4/ABUIABAEGAAgvZWmzAUo54f2twUw3gQ4_go.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position: -81px -23px;
    height: 20px;
}

div#noteHeaderBtn > #sourceCode > span {
    background-image: url(http://6990373.s21i-6.faiusr.com/4/ABUIABAEGAAgvZWmzAUo54f2twUw3gQ4_go.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: -72px -43px;
    height: 20px;
}

div#noteHeaderBtn > #becomeFriends > span {
    background-image: url(http://6990373.s21i-6.faiusr.com/4/ABUIABAEGAAgvZWmzAUo54f2twUw3gQ4_go.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position: -79px -74px;
    /* height: 20px; */
    width: 22px;
}

div#noteHeaderBtn > #noteAward > span {
    background-image: url(http://6990373.s21i-6.faiusr.com/4/ABUIABAEGAAgvZWmzAUo54f2twUw3gQ4_go.png);
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: -77px 1px;
}

div#noteHeaderBtn > div:not(:last-of-type) {
    margin-right: 30px;
}

div#resultPreview {
    background-color: #4389CE;
    border: 2px solid #4389CE;
}

div#resultPreview:hover {
    background-color: #1f7cd8;
    border: 2px solid #1267bb;
}

div#sourceCode {
    background-color: #5DB75D;
    border: 2px solid #5DB75D;
}

div#sourceCode:hover {
    background-color: #2bb52b;
    border: 2px solid #27a027;
}

#module12 #sourceCode > a {
    font-family: Arial;
    font-size: 13px;
    text-decoration: none;
    color: #ffffff;
}

div#becomeFriends {
    background-color: #EFAD4D;
    border: 2px solid #EFAD4D;
}

div#becomeFriends:hover {
    background-color: #f7a734;
    border: 2px solid #e48e10;
}

div#noteAward {
    background-color: #F05050;
    border: 2px solid #F05050;
}

div#noteAward:hover {
    background-color: #fb2323;
    border: 2px solid #d80101;
}

/*文章页面右侧广告样式*/
div#myADside {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #3A3F51;
    width: 210px;
    display: none;
}

div#myADsideHeader {
    line-height: 60px;
    height: 60px;
    background-color: #F05050;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}
div#myADsideBody {
    height: 900px;
    height: calc(100% - 60px);
    overflow-x: hidden;
    width: 227px;
    overflow-y: scroll;
    padding-top: 20px;
    padding-left: 19px;
}
div#myADsideBody>a {
    overflow: hidden;
    display: block;
    width: 170px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
}


div#myADsideBody>a>img {
    width: 170px;
}

div#myADsideBody>a>img:hover {
    transition: all 0.6s;
    transform: scale(1.2);
}

div#myADsideFooter {
    display: none;
}